body {
	font-family: system-ui, "Helvetica Neue", "Segoe UI", sans-serif;
	line-height: 1.4em;
	margin: 2em auto 2em auto;
	max-width: 35em;
}

h1 {
	font-size: 2.5em;
	font-weight: 300;
	line-height: 1em;
	margin: 0 0 1em 0;
}

h2 {
	font-weight: 300;
	line-height: 1em;
}

h3 {
	font-size: 1.1em;
	font-weight: 500;
	line-height: 1em;
}

a {
	color: #FF595E;
	text-decoration: none;
}

a:hover {
	color: #CF272D;
}

blockquote {
	border-left: 5px solid #eee;
	margin: 0 0 1em 1em;
	padding: 0 0 0 1em;
}

blockquote p {
	margin: 0;
}

blockquote small {
	color: #999;
}

cite {
	font-style: normal;
}

cite::before {
	content: "\2014";
}

article img {
	display: block;
	margin: 2em auto 2em auto;
	max-width: 100%;
}

article header {
	border-bottom: 1px solid #eeeeee;
	margin-bottom: 1em;
	padding-bottom: 1em;
}

article footer {
	border-top: 1px solid #eeeeee;
	margin-top: 1em;
	padding-top: 1em;
	text-align: center;
}

article header h1 {
	font-size: 2em;
	margin: 0 0 .1em 0;
}

article header time {
	color: #999999;
	font-size: 14pt;
	font-weight: 100;
	margin-top: 0;
}

code {
	background-color: #f5f5f5;
	color: #d14;
	font-family: SFMono-Regular, Consolas, Menlo, monospace;
	font-size: .8em;
	padding: .2em;
}

pre {
	background-color: #f5f5f5;
	overflow: auto;
	padding: 1em;
	page-break-inside: avoid;
}

pre code {
	background-color: inherit;
	color: inherit;
	padding: 0;
}

.profile {
	border-bottom: 1px solid #ddd;
}

.avatar {
	border-radius: 8px;
	float: left;
	height: 128px;
	margin-right: .5em;
	width: 128px;
}

.links {
	list-style: none;
	margin: 0;
	padding: 0;
}

.links li {
	display: inline;
}

.links img {
	height: 32px;
	margin: 8px;
	vertical-align: middle;
	width: 32px;
}

@media print {
	body {
		background-color: #fff;
	}
	article, .container {
		margin: 0;
		padding: 0;
		width: auto;
	}
}
